*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.btn{
    padding: 10px 60px;
    font-size: 32px;
    font-family:fantasy;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin : 0 auto;
    margin-bottom : 20px;
    
}

.barColor{
    background-color: rgb(12, 12, 12);
}

.title{
    background-color: rgb(12, 12, 12);

}

.btn_container{
    
    padding : 30px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    margin : 0 auto;
    margin-top: 100px;

}

.container{
    max-width: 50px;
    height: 50px;
    width: 95%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    color: yellowgreen;
    background-color: rgb(12, 12, 12);

}

.bars_container{
    border: 2px solid white;
    border-radius: 20px;
    padding : 20px;
    display: flex;
    flex-direction: row;
    color: yellowgreen;
    height: 400px;
    text-align: center;
    justify-content: center;
}

.bar{
    width: 10px;
    background-color: rgb(37, 155, 59);
    margin: 0 1px;
    border-radius: 2px;
    color: red;
}



.center{
    margin-left : 250px ;


}

.row{
    display: flex ;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: rgb(12, 12, 12);
    height: 60px;
}

.row :nth-child(2){
    display: block;
    margin-top: 10px;
}

.row :nth-child(3){
    display: block;
    margin-top: 10px;
}

.row :nth-child(4){
    display: block;
    margin-top: 10px;
}

.row :nth-child(5){
    display: block;
    margin-top: 10px;
}



 